@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply rounded-lg border border-slate-500 bg-white bg-opacity-10 px-4 py-1 text-gray-200 hover:bg-opacity-30;
}

input,
textarea {
  @apply rounded-lg bg-slate-600 px-2 py-1 text-gray-200 hover:outline hover:outline-1 hover:outline-slate-500 focus:outline focus:outline-1 focus:outline-slate-300;
}

textarea {
  @apply resize-none overflow-y-scroll border-8 border-solid border-slate-600;
}

/* when autofilling, want to keep same styles as normal input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(71, 85, 105) inset !important;
  box-shadow: 0 0 0 30px rgb(71, 85, 105) inset !important;
  -webkit-text-fill-color: rgb(229, 231, 235) !important;
  /* the blinking cursor */
  caret-color: rgb(229, 231, 235);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(51, 65, 85);
}

::-webkit-scrollbar-thumb {
  background: rgb(71, 85, 105);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 116, 139);
}

textarea::-webkit-scrollbar-track {
  background: rgb(51, 65, 85);
}

textarea::-webkit-scrollbar-thumb {
  background: rgb(100, 116, 139);
}

textarea::-webkit-scrollbar-thumb:hover {
  background: rgb(148, 163, 184);
}
